<div class="container">
  <h1>Welcome to the Hamsterdam!</h1>
  <p>this is the post_cool_url.erb!</p>


   <br> <%= params.inspect %> </br>
   <br> price: <%= params[:post][:price] %> </br>
   <br> price: <%= @price %>


</div>
